// Font Styles
$font-normal: 400;
$font-bold: 700;
$font-extra: 800;
$font-black: 900;

// Colors
$color-primary-dark: #1C5F21;
$color-primary-light: #236F23;
$color-secondary: #E19928;
$color-white: #FFF;
$color-black: #000;

// Z-index
$z-index-background: -999;
$z-index-back: 1;
$z-index-reset: 0;
$z-index-top: 1;
$z-index-overlay: 999;

.channel-status {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    width: 100vw;

    .status-one, .status-two, .status-three {
        padding: 20px 0;
        text-align: center;
    }

    .status-title {
        font-size: 3rem;
        font-weight: $font-bold;
        color: $color-primary-dark;
    } 
    .fa-icon {
        color: $color-secondary;
    }
    .status-subtitle {
        font-size: 2rem;
        color: $color-primary-light;

       
    }

}



//¿ TELAS ACIMA DE 600PX
@media (min-width: 600px) {

    .channel-status {
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;

        .status-one, .status-two, .status-three {
            margin: 0 50px;
        }
        
    }
}


//¿ TELAS ACIMA DE 1024PX
@media (min-width: 1024px) {

    .channel-status {

        .status-one, .status-two, .status-three {
            margin: 0 70px;
        }
        
    }
}
