// Font Styles
$font-normal: 400;
$font-bold: 700;
$font-extra: 800;
$font-black: 900;

// Colors
$color-primary-dark: #1C5F21;
$color-primary-light: #236F23;
$color-secondary: #E19928;
$color-white: #FFF;
$color-black: #000;

// Z-index
$z-index-background: -999;
$z-index-back: 1;
$z-index-reset: 0;
$z-index-top: 1;
$z-index-overlay: 999;

.footer {
    background-color: $color-white;
    color: $color-primary-dark;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    .footer-copy {
        padding: 20px;
        font-size: 1rem;
        width: fit-content;
    }
} 

//¿ TELAS ACIMA DE 600PX
@media (min-width: 600px) {
    .footer {
        .footer-copy {
            font-size: 1.2rem;
        }
    }
}

//¿ TELAS ACIMA DE 1024PX
@media (min-width: 1024px) {
    .footer {
        .footer-copy {
            font-size: 1.5rem;
        }
    }
}



