// Font Styles
$font-normal: 400;
$font-bold: 700;
$font-extra: 800;
$font-black: 900;

// Colors
$color-primary-dark: #1C5F21;
$color-primary-light: #236F23;
$color-secondary: #E19928;
$color-white: #FFF;
$color-black: #000;

// Z-index
$z-index-background: -999;
$z-index-back: 1;
$z-index-reset: 0;
$z-index-top: 1;
$z-index-overlay: 999;

//Animates
@keyframes animate {
  0%   { transform: translateY(30px); opacity: 1; }
  50%  { transform: translateY(10px);  opacity: 0; }
  100% { transform: translateY(30px);  opacity: 1; }
}


.text {
  font-size: 1.2rem;
  text-align: center;
  color: $color-white;
  font-weight: $font-normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin: 1em 0;
}


.main {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(../public/images/home-bg.jpg);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;  

//   &::before {
//       content: "";
//       position: absolute;
//       height: 100vh;
//       width: 100vw;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: rgba(0, 0, 0, .5);
//       z-index: $z-index-back;
//   }

  &-first {
      flex-grow: 0;
      z-index: $z-index-top;
  }

  &-second {
      flex-grow: 1;
      z-index: $z-index-top;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      .submain-one {
          width: calc(100vw - 20px);
          display: flex;
          justify-content: center;
      }

      .submain-two {
          width: calc(100vw - 20px);
          font-size: 1.2rem;
          text-align: center;
          color: $color-white;
          font-weight: $font-normal;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
          margin: 1em 0;
      }

      .submain-three {
          width: calc(100vw - 20px);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          ul {
              list-style-type: none;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 2em 0;
              padding: 0;

              li {
                  margin: .5em;
                  padding: 0;
              }

          }

          .fa-icon {
              color: $color-secondary;
              font-size: 3rem;
              animation: animate 3s linear infinite;
          }
      }
  }

  &-third {
      flex-grow: 0;
      z-index: $z-index-top;
  }
}


//¿ TELAS ACIMA DE 600PX
@media (min-width: 600px) {
    .main {
        &-second {
            
            .submain-one {
                width: calc(100vw - 60px);
            }
            .submain-two {
                width: calc(100vw - 60px);
                font-size: 1.5rem;
            }
            .submain-three {
                width: calc(100vw - 60px);
            }
        }
    }
}


//¿ TELAS ACIMA DE 1024PX
@media (min-width: 1024px) {

    .main {
        flex-direction: row;
        background-position:center;
    
        &-first {
            flex-grow: 1;
        }
    
        &-second {
            flex-grow: 2;

            .submain-one {
                width: 800px;
            }
    
            .submain-two {
                width: 800px;
                margin: 1em 0;
                font-size: 2rem;
            }
    
            .submain-three {
                width: 800px;
    
                ul {
                    margin: 2em 0;
    
                    li {
                        margin: 1em;
                        transition: all .2s;
    
                        img {
                            width: 5em;
                        }

                        &:hover {
                            filter: grayscale(100%) brightness(0) invert(100%);
                            transition: all .2s;
                        }
                    }
    
                }
            }
        }
    
        &-third {
            flex-grow: 1;
            z-index: $z-index-top;
        }
    }
}

